.NavLink.nav-link-item {
  border-radius: 12px;
  padding: 8px 12px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 272px;
  height: 48px;
  position: relative;
  background: none;
  cursor: pointer;
  background: var(--menu-bg-unseled);
  color: var(--menu-txt);

  &:hover{
    background: var(--menu-bg-unseled);
  }
  &:active{
    background: var(--menu-bg-unseled);
  }


  .icon-container {
    background: var(--menu-icon-bg-unseled);
    color: var(--menu-icon-stroke-unseled);
    border-radius: 8px;
    padding: 6px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
  }

  &.selected{
    background: var(--menu-bg-seled);
    color: var(--menu-bg-seled);

    &:hover{
      background: var(--menu-bg-seled);
      color: var(--menu-bg-seled);
    }
    &:active{
      background: var(--menu-bg-seled);
      color: var(--menu-bg-seled);
    }

    .icon-container{
      background: var(--menu-icon-bg-seled);
      color: var(--menu-icon-stroke-seled);
    }
  }

  @media (max-width: 980px) {
    width: 100%;
    //align-self: stretch;
  }


  .lebel {
    color: var(--text-default, #2e2e38);
    text-align: right;
    font-family: "IranYekanX-Medium", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
  }

}

.left2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: var(--menu-arrowIcon-unseled);

  .selected{
    color: var(--menu-arrowIcon-seled);
  }
}
