.FormTracking{
  .slot-footer{
    margin-top: 8px;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: self-start;
    justify-content: center;
    gap: 4px;
    min-height: 24px;
    color: #747481;
  }

  span.toman {
    text-align: right;
    font-family: IRANYekanX;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
  }
}
