
.dRtl{
  direction: rtl;
}

.inviz{
  opacity: 0;
}


.no-visible{
  width: 0;
  height: 0;
  /* display: none; */
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

.outLink{
  color: #0A33FF;
}
