/*
* Medium
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRd';
  src: local('IRANYekanRd Medium'), local('IRANYekanRd-Medium'),
  url('~assets/fonts/IRANYekanRd/IRANYekanRd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*
* Regular
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRd';
  src: local('IRANYekanRd'),
  url('~assets/fonts/IRANYekanRd/IRANYekanRd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
* Bold
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRd';
  src: local('IRANYekanRd Bold'), local('IRANYekanRd-Bold'),
  url('~assets/fonts/IRANYekanRd/IRANYekanRd-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}










/*
* Regular
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRdFaNum';
  src: local('IRAN Yekan FaNum Regular'), local('IRANYekanRdFaNum-Regular'),
  url('~assets/fonts/IRANYekanRd/FaNum/IRANYekanFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/*
* Medium
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRdFaNum';
  src: local('IRAN Yekan FaNum Medium'), local('IRANYekanRdFaNum-Medium'),
  url('~assets/fonts/IRANYekanRd/FaNum/IRANYekanFaNum-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*
* Bold
* ---------------------------------------
*/
@font-face {
  font-family: 'IRANYekanRdFaNum';
  src: local('IRAN Yekan FaNum Bold'), local('IRANYekanRdFaNum-Bold'),
  url('~assets/fonts/IRANYekanRd/FaNum/IRANYekanFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}





/*
* Bold
* ---------------------------------------
*/
@font-face {
  font-family: 'YekanBakhFaNum';
  src: local('Yekan Bakh FaNum Bold'), local('YekanBakhFaNum-Bold'),
  url('~assets/fonts/YekanBakh/YekanBakhFaNum-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/*
* Heavy
* ---------------------------------------
*/
@font-face {
  font-family: 'YekanBakhFaNum';
  src: local('Yekan Bakh FaNum Heavy'), local('YekanBakhFaNum-Heavy'),
  url('~assets/fonts/YekanBakh/YekanBakhFaNum-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}













@font-face {
  font-family: "IRANYekanX";
  src: url("~assets/fonts/IRANYekanX-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IRANYekanX-Medium";
  src: url("~assets/fonts/IRANYekanX-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IRANYekanX-Bold";
  src: url("~assets/fonts/IRANYekanX-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "IRANYekanX-Thin";
  src: url("~assets/fonts/IRANYekanX-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "IRANYekanX-UltraLight";
  src: url("~assets/fonts/IRANYekanX-UltraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "IRANYekanX-Light";
  src: url("~assets/fonts/IRANYekanX-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "IRANYekanX-Regular";
  src: url("~assets/fonts/IRANYekanX-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IRANYekanX-Medium";
  src: url("~assets/fonts/IRANYekanX-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IranYekanX-DemiBold";
  src: url("~assets/fonts/IRANYekanX-DemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IRANYekanX-Bold";
  src: url("~assets/fonts/IRANYekanX-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "IRANYekanX-ExtraBold";
  src: url("~assets/fonts/IRANYekanX-ExtraBold.ttf");
  font-weight: 800;
}
