.zpl-tooltip-container {
  /* Default */
  position: relative;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  /* hover */
}
.zpl-tooltip-container:hover .zpl-tooltip {
  display: inline-block;
}

.zpl-tooltip-active .zpl-tooltip {
  display: inline-block;
}

.zpl-tooltip {
  /* Default */
  position: fixed;
  z-index: 50;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 328px;
  border-radius: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 26 / var(--tw-bg-opacity));
  padding-left: 8px;
  padding-right: 8px;
}

.dark .zpl-tooltip {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.zpl-tooltip span {
  display: flex;
  text-align: right;
  font-family: IRANYekanRdFaNum;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .zpl-tooltip span {
  --tw-text-opacity: 1;
  color: rgb(46 46 56 / var(--tw-text-opacity));
}
.zpl-tooltip span {
  direction: rtl;
}
.zpl-tooltip.small {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  line-height: 12px;
}
.zpl-tooltip.large {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  line-height: 20px;
}
